<div class="login-root">
  <div
    class="box-root padding-top--24 flex-flex flex-direction--column"
    style="flex-grow: 1; z-index: 9"
  >
    <div class="formbg-outer">
      <div class="formbg">
        <div class="formbg-inner padding-horizontal--48">
          <span class="padding-bottom--15">Create an account</span>
          <div [formGroup]="signUpForm">
            <div class="field padding-bottom--24 inputs">
              <label for="username">Email</label>
              <input type="text" name="username" formControlName="username" />
              <div
                *ngIf="
                  username?.invalid && (username?.dirty || username?.touched)
                "
              >
                <div *ngIf="username?.errors?.['required']">
                  Username is required.
                </div>
              </div>
            </div>

            <div class="field padding-bottom--24 inputs">
              <label for="email">Email</label>
              <input type="email" name="email" formControlName="email" />
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <div *ngIf="email?.errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="email?.errors?.['email']">
                  Invalid email format.
                </div>
              </div>
            </div>

            <div class="field padding-bottom--24 inputs">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                formControlName="password"
              />
              <div
                *ngIf="
                  password?.invalid && (password?.dirty || password?.touched)
                "
              >
                <div *ngIf="password?.errors?.['required']">
                  Password is required.
                </div>
                <div *ngIf="password?.errors?.['minlength']">
                  Password must be at least 8 characters long.
                </div>
                <div *ngIf="password?.errors?.['invalidPassword']">
                  The password must contain at least one symbol, one capital
                  letter and one number.
                </div>
              </div>
            </div>
            <button
              type="submit"
              (click)="onSignUp()"
              [disabled]="signUpForm.invalid"
              [ngClass]="{ 'disabled-button': signUpForm.invalid }"
            >
              Sign up
            </button>
          </div>
        </div>
      </div>
      <div class="footer-link padding-top--24">
        <span
          >Already have an account have an account?
          <a [routerLink]="['/signin']">Sign up</a></span
        >
      </div>
    </div>
  </div>
</div>
